/*_______________________ generic html _______________________*/
/*font-family: 'Roboto', sans-serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Caveat', cursive;*/
* {
  box-sizing: border-box;
}
[v-cloak] > * {
  display: none;
}
[v-cloak]::before {
  content: "Loading...";
}
body {
  background: rgb(2, 42, 56);
  color: rgb(66, 66, 66);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
img {
  width: 100%;
}
button {
  background-color: rgb(236, 72, 118);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.25em;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 1em;
  margin: 0;
  margin-top: 1em;
  max-width: 400px;
  padding: 1em 1.25em;
  transition: all 0.3s;
  width: 100%;
}
button:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(236, 72, 118);
  color: rgb(236, 72, 118);
}

/*_______________________ generic classes _______________________*/
.align-self_end {
  align-self: flex-end;
}
.flex-box_between {
  display: flex;
  justify-content: center;
}
.flex-box_between {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.p-x-1 {
  padding: 0 0.5rem;
}
.p-xt-1 {
  padding: 0.25rem 0.5rem 0 0.5rem;
}
.p-xt-2 {
  padding: 1.5rem 0.5rem 0 0.5rem;
}
.p-b-2 {
  padding-bottom: 1.5rem;
}
.align-right {
  text-align: right;
}
a {
  color: rgb(66, 66, 66);
  position: relative;
  text-decoration: none;
  transition: color 0.4s ease-out;
}
a::after {
  border-radius: 1em;
  border-top: 0.1em solid rgb(66, 66, 66);
  content: "";
  position: absolute;
  right: 100%;
  bottom: -0.14em;
  left: 0;
  transition: right 0.4s cubic-bezier(0, 0.5, 0, 1), border-color 0.4s ease-out;
}
a:hover {
  color: rgb(33, 186, 64);
  text-decoration: none;
}
a:hover::after {
  border-color: rgb(33, 186, 64);
  /* animation: anchor-underline 2s cubic-bezier(0, .5, 0, 1) infinite; */
  right: 0;
}
/*_______________________ animations _______________________*/
/* @keyframes anchor-underline {
  0%, 10% {
    left: 0;
    right: 100%;
  }
  40%, 60% {
    left: 0;
    right: 0;
  }
  90%, 100% {
    left: 100%;
    right: 0;
  }
} */
.fade-enter-active {
  transition: opacity 1s;
}
.fade-leave-active {
  transition: opacity 0.4s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.fadeSlow-enter-active,
.fadeSlow-leave-active {
  transition: opacity 0.6s 0.2s;
}
.fadeSlow-enter, .fadeSlow-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/*_______________________ app framing _______________________*/
.creuzer-app-frame {
  background-color: #ffffff;
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(33, 186, 64);
  border-radius: 0.5em;
  -moz-box-shadow: 0px 0px 4px 1px #000000;
  -webkit-box-shadow: 0px 0px 4px 1px #000000;
  box-shadow: 0px 0px 4px 1px #000000;
  margin: 0 auto;
  margin-top: 1.5em;
  max-width: 800px;
  position: relative;
  width: 100%;
}
.creuzer-app-matte {
  margin: 1.75em auto;
  margin-top: 0.85em;
  width: 90%;
}
@media screen and (min-width: 500px) {
  .creuzer-app-matte {
    margin-top: 1em;
  }
}

/*_______________________ app branding _______________________*/
.logo-frame {
  margin: 0;
  max-width: 140px;
  cursor: pointer;
}

/*_______________________ header _______________________*/
header h1 {
  font-family: "Caveat", cursive;
  font-size: 2em;
  line-height: 1;
  margin: 0;
  text-align: left;
}

header p:last-of-type {
  margin-bottom: 1.25em;
}
header span {
  display: block;
  color: rgb(88, 88, 88);
  font-size: 0.75em;
  margin-bottom: 0.25em;
  padding-right: 0.5em;
  text-align: right;
}
header ol {
  margin: 0;
  padding: 0;
}
header ol li {
  list-style: none;
  margin: 0;
  padding: 0 0 0.5em 4em;
  position: relative;
}

header ol li:before {
  font-weight: 600;
  left: 0;
  position: absolute;
}
header ol li:nth-child(1)::before {
  display: inline-block;
  content: "Step 1:";
  margin-right: 0.8em;
  color: rgb(0, 0, 0);
}
header ol li:nth-child(2)::before {
  display: inline-block;
  content: "Step 2:";
  margin-right: 0.8em;
  color: rgb(0, 0, 0);
}
header ol li:nth-child(3)::before {
  display: inline-block;
  content: "Step 3:";
  margin-right: 0.8em;
  color: rgb(0, 0, 0);
}
header ol li:nth-child(4)::before {
  display: inline-block;
  content: "Step 4:";
  margin-right: 0.8em;
  color: rgb(0, 0, 0);
}
header ol li:last-of-type {
  padding-bottom: 0;
}
header ol li span {
  display: inline;
  font-size: 0.8em;
  text-align: left;
}
@media screen and (min-width: 500px) {
  header h1 {
    font-size: 2.5em;
  }
  header p,
  header ol li {
    font-size: 1.15em;
  }
  header ol {
    margin-left: 0.75em;
  }
}
@media screen and (min-width: 560px) {
  header h1 {
    font-size: 3em;
    margin-bottom: 0;
  }
}
/*_______________________ main _______________________*/
main .textarea-frame {
  text-align: center;
}
main textarea {
  border-radius: 0.25em;
  -moz-box-shadow: 0px 2px 6px 2px #cfcfcf;
  -webkit-box-shadow: 0px 2px 6px 2px #cfcfcf;
  box-shadow: 0px 2px 6px 2px #cfcfcf;
  color: rgb(88, 88, 88);
  font-size: 1em;
  line-height: 1.5;
  height: 250px;
  margin: 0 auto;
  padding: 0.75em 1em;
  width: 99%;
}
main .drop-down-frame {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  padding-right: 0.25em;
  padding-top: 0.5em;
}
main .custom-select {
  color: rgb(255, 255, 255);
  display: block;
  max-width: 400px;
  min-width: 180px;
  position: relative;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(48, 169, 179);
  border-radius: 0.25em;
  z-index: 10;
}
main .custom-select_transfrom-data select {
  border: 0;
}
main select {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 1em 0.75em;
  line-height: 1;
  font-size: 1em;
  color: inherit;
  transition: all 0.3s ease-in-out;
}
main select::-ms-expand {
  display: none;
}
main .custom-select::after {
  position: absolute;
  font-size: 1em;
  right: 15px;
  top: 12px;
  width: 1em;
  content: "\2228";
  text-align: center;
  color: #ffffff;
}
main .custom-select:hover {
  border: 1px solid rgb(48, 169, 179);
  background-color: rgb(255, 255, 255);
  color: rgb(48, 169, 179);
}
main .custom-select:hover::after {
  color: rgb(48, 169, 179);
}

main p {
  margin-top: 2.5em;
  padding: 0 0.25em;
}
main p.error-message {
  padding: 0;
  font-family: "Gloria Hallelujah", cursive;
  text-align: center;
  font-size: 1.25em;
  color: rgb(255, 0, 0);
  margin: 0.5em 0;
}
@media screen and (min-width: 560px) {
  main .button-frame {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
  }
  main .button-frame button,
  main .button-frame .custom-select {
    margin-top: 0em;
  }
  main .button-frame > button,
  main .button-frame .custom-select {
    width: 30%;
  }
}

/*_______________________ second screen _______________________*/
.stepTwo {
  padding: 0 0.5em;
}
.show-all {
  border-bottom: 1px solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  margin-left: 1em;
  text-decoration: none;
  transition: border 0.2s ease-in-out;
}
.show-all:hover {
  border-bottom: 1px solid rgb(88, 88, 88);
}
.disabled-text {
  opacity: 0.5;
  transition: all 0.3s;
}
.disabled-btn {
  opacity: 0.5;
  transition: all 0.3s;
}
.reset-btn,
.copy-btn {
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0.5em 0.74em;
  width: auto;
}
.reset-btn {
  background-color: rgb(48, 169, 179);
}
.reset-btn:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(48, 169, 179);
  color: rgb(48, 169, 179);
}
.copy-btn {
  background-color: rgb(236, 72, 118);
}
.copy-btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(236, 72, 118);
}
.data-chunk-frame {
  border-radius: 0.25em;
  -moz-box-shadow: 0px 2px 6px 2px #cfcfcf;
  -webkit-box-shadow: 0px 2px 6px 2px #cfcfcf;
  box-shadow: 0px 2px 6px 2px #cfcfcf;
  color: rgb(88, 88, 88);
  font-size: 1em;
  line-height: 1.5;
  margin: 0.5rem auto;
  padding: 0.75em 1em 3.5em;
  width: 99%;
  height: auto;
}
.stepTwo div button.prev-btn,
.stepTwo div button.next-btn {
  background-color: rgb(48, 169, 179);
  border: 1px solid rgb(0, 0, 0);
  padding: 0.25em 0.75rem 0.5em;
  width: auto;
}
.stepTwo div button.prev-btn:hover,
.stepTwo div button.next-btn:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(48, 169, 179);
  color: rgb(48, 169, 179);
}
.prev-btn,
.reset-btn {
  margin-right: 0.25rem;
}

/*_______________________ footer _______________________*/
/* footer {
  background-color: rgb(255, 255, 255);
  border-radius: 0.5em;
  font-size: 0.8em;
  padding: 1em 1.55em;
}
footer p {
  margin: 0;
  text-align: right;
}
@media screen and (min-width: 560px) {
  footer {
    padding: 1em 3em;
  }
} */

.clear-btn-frame {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.2em;
}
@supports (-ms-ime-align: auto) {
  .clear-btn-frame {
    margin-top: 0.5em;
  }
}
