/*_______________________ generic html _______________________*/
/*font-family: 'Roboto', sans-serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Caveat', cursive;*/
* {
  box-sizing: border-box;
}
body {
  background: rgb(88, 88, 88);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}
img {
  width: 100%;
}
button {
  background-color: rgb(0, 176, 80);
  border: 1px solid rgb(88, 88, 88);
  border-radius: 0.25em;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  margin: 0;
  margin-top: 0.65em;
  max-width: 400px;
  padding: 1em 1.25em;
  transition: all 0.5s;
  width: 100%;
}
button:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 1 1 1 rgb(0, 0, 0);
  color: rgb(0, 176, 80);
  -moz-box-shadow: inset 0 1 2px rgb(88, 88, 88);
  -webkit-box-shadow: inset 0 1 2px rgb(88, 88, 88);
  box-shadow: inset 0 0 2px rgb(88, 88, 88);
}
@media screen and (min-width: 560px) {
  main button {
    font-size: 0.9em;
  }
}

/*_______________________ generic classes _______________________*/
.flex-box_between {
  display: flex;
  justify-content: center;
}
.flex-box_between {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.p-x-1 {
  padding: 0 0.5rem;
}
.p-xt-1 {
  padding: 0.25rem 0.5rem 0 0.5rem;
}
.p-xt-2 {
  padding: 1.5rem 0.5rem 0 0.5rem;
}
.p-b-2 {
  padding-bottom: 1.5rem;
}
.align-right {
  text-align: right;
}

/*_______________________ app framing _______________________*/
.creuzer-app-frame {
  background-color: #ffffff;
  background-color: rgb(255, 255, 255);
  border: 1px solid #000000;
  border-radius: 0.5em;
  -moz-box-shadow: 0px 0px 4px 1px #000000;
  -webkit-box-shadow: 0px 0px 4px 1px #000000;
  box-shadow: 0px 0px 4px 1px #000000;
  margin: 0 auto;
  margin-top: 2.5em;
  max-width: 600px;
  position: relative;
  width: 100%;
}
.creuzer-app-matte {
  margin: 1.75em auto;
  margin-top: 0.85em;
  width: 90%;
  transition: all 0.5s;
}
@media screen and (min-width: 500px) {
  .creuzer-app-matte {
    margin-top: 1em;
  }
}

/*_______________________ app branding _______________________*/
.logo-frame {
  margin: 0;
  max-width: 180px;
}

/*_______________________ header _______________________*/
header h1 {
  font-family: 'Caveat', cursive;
  font-size: 2em;
  margin: 0;
  margin-bottom: 0.15em;
  margin-top: 0.25em;
  text-align: left;
  transition: all 0.25s;
}
header span {
  display: block;
  color: rgb(88, 88, 88);
  font-size: 0.75em;
  margin-bottom: 0.25em;
  padding-right: 0.5em;
  text-align: right;
}
@media screen and (min-width: 500px) {
  header h1 {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 560px) {
  header h1 {
    font-size: 3em;
    margin-bottom: 0;
  }
}
/*_______________________ main _______________________*/
main .textarea-frame {
  text-align: center;
}
main textarea {
  border-radius: 0.25em;
  -moz-box-shadow: 0px 2px 6px 2px #cfcfcf;
  -webkit-box-shadow: 0px 2px 6px 2px #cfcfcf;
  box-shadow: 0px 2px 6px 2px #cfcfcf;
  color: rgb(88, 88, 88);
  font-size: 0.8em;
  height: 250px;
  margin: 0 auto;
  padding: 0.75em 1em;
  width: 99%;
}
main .drop-down-frame {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  padding-right: 0.25em;
  padding-top: 0.5em;
}
main .custom-select {
  position: relative;
  display: block;
  max-width: 400px;
  min-width: 180px;
  border: 1px solid #000000;
  background-color: rgb(88, 88, 88);
  border-radius: 0.25em;
  z-index: 10;
}
main .custom-select_transfrom-data select {
  border: 0;
}
main select {
  border: 1px solid rgb(0, 0, 0);
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 1em 3.5em 1em 0.75em;
  line-height: 1;
  font-size: 0.9em;
  color: #ffffff;
}
main .custom-select:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 1.5em;
  height: 100%;
  content: '\2228';
  text-align: center;
  color: #ffffff;
  font-size: 1.5em;
  border-left: 1px solid rgb(0, 0, 0);
  z-index: -1;
}
main p {
  margin-top: 2.5em;
  padding: 0 0.25em;
}
main p.error-message {
  padding: 0;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  font-size: 1.25em;
  color: rgb(255, 0, 0);
  margin: 0.5em 0;
}

@media screen and (min-width: 560px) {
  main .button-frame {
    display: flex;
    justify-content: space-between;
    margin-top: 1.52em;
  }
  main .button-frame > button {
    margin: 0 0.25em;
    flex-grow: 1;
    width: 20%;
  }
  main .button-frame button.button_lg {
    flex-grow: 2;
  }
}

/*_______________________ second screen _______________________*/
.stepTwo {
  padding: 0 0.5em;
}
.reset-btn,
.copy-btn {
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0.5em 0.74em;
  width: auto;
}
.reset-btn {
  background-color: rgb(255, 0, 0);
}
.data-chunk-frame {
  border-radius: 0.25em;
  -moz-box-shadow: 0px 2px 6px 2px #cfcfcf;
  -webkit-box-shadow: 0px 2px 6px 2px #cfcfcf;
  box-shadow: 0px 2px 6px 2px #cfcfcf;
  color: rgb(88, 88, 88);
  font-size: 0.8em;
  margin: 0.5rem auto;
  padding: 0.75em 1em;
  width: 99%;
}
.prev-btn,
.next-btn {
  padding: 0.15rem 0.5rem;
  width: auto;
}
.prev-btn,
.reset-btn {
  margin-right: 0.25rem;
}

/*_______________________ footer _______________________*/
footer {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 0.8em;
  padding: 1em 1.55em;
}
footer p {
  margin: 0;
}
@media screen and (min-width: 560px) {
  footer {
    padding: 1em 3em;
  }
}
